{% extends 'instructor_template/instructor_home.html' %}
{% block page_title %}
    View & Update Attendance
{% endblock page_title %}

{% block main_content %}

    <section class="content">
      <div class="container-fluid">
        <div class="row">
              <div class="col-md-6">
            <!-- general form elements -->
                <div class="card card-dark">
                        <div class="card-header">
                            <h1>View & Update Attendance</h1>
                        </div>
                     <div class="card-body">
                        <div class="form-group">
                            <label style="font-size: 20px">Batch</label>
                            <select class="form-control" name="batch" id="batch">
                                {% for batch in batches %}
                                    <option value="{{ batch.id }}"> {{ batch.batch_name }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                           <label>Session Year</label>
                           <select class="form-control" name="session_years_id" id="session_years_id">
                               {% for session_year in session_years_id %}
                                  <option value="{{ session_year.id }}">{{ session_year.session_start_year }} TO {{ session_year.session_end_year }}</option>
                               {% endfor %}
                           </select>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-dark btn-block" style="font-size: 25px; margin-left: 10px;" id="fetch_attendance">
                                Fetch Attendance</button>
                        </div>

                        <div class="form-group" id="attendance_block" style="display: none">
                           <label>Attendance Date</label>
                           <select class="form-control" name="attendance_date" id="attendance_date">

                           </select>
                        </div>

                        <div class="form-group">
                            <div class="alert alert-danger" id="error_attendance" style="display: none">

                            </div>
                        </div>

                        <div class="form-group" id="fetch_student_block" style="display: none">
                            <button type="button" class="btn btn-dark btn-block" style="font-size: 25px; margin-left: 10px;" id="fetch_student">
                                Fetch Student Data </button>
                        </div>

                        <div id="student_data" class="card-footer"> </div>
                    </div>

                </div>
              </div>
          </div>
      </div>
    </section>

{% endblock main_content %}

{% block custom_js %}
    <script>

        $(document).ready(function () {


            $('#fetch_attendance').click(function () {

                    var batch = $('#batch').val();
                    var session_year = $('#session_years_id').val();
                    $.ajax({
                        url: {% url 'get_attendance_date' %},
                        type: 'POST',
                        data: {batch: batch, session_years_id: session_year},
                        })

                        .done(function (response) {

                            var json_data = JSON.parse(response);
                            //console.log(json_data);
                            if(json_data.length>0)
                            {
                                 var html_data = "";
                                 for(key in json_data)
                                 {
                                     html_data += "<option value="+json_data[key]["id"]+">"+json_data[key]["attendance_date"]+"</option>";
                                 }

                                    $('#error_attendance').html('');
                                    $('#error_attendance').hide();
                                    $('#attendance_block').show();
                                    $('#fetch_student_block').show();
                                    $('#attendance_date').html(html_data);
                            }
                            else {
                                $('#error_attendance').html('No attendance date found');
                                $('#error_attendance').show();
                                $('#attendance_block').hide();
                                $('#fetch_student_block').hide();
                                $('#attendance_date').html("");
                            }

                        })
                         .fail(function () {
                            alert("Error in fetch student");
                             $('#error_attendance').html('');
                             $('#attendance_block').hide();
                             $('#fetch_student_block').hide();
                         })
            });

            $("#fetch_student").click(function () {
                var attendance_date=$("#attendance_date").val()

                $.ajax({
                    url: {% url 'get_attendance_student' %},
                    type: 'POST',
                    data: {attendance_date:attendance_date},
                })
                .done(function (response) {

                   var json_data=JSON.parse(response);
                var div_data="<div class='form-group'><label>Student Attendance : </label></div><div class='form-group'><div class='row'>";
                for(key in json_data)
                {
                    div_data+="<div class='col-lg-6'><div class='form-check'><input type='checkbox' ";
                    if(json_data[key]['status'])
                    {
                        div_data+="checked='checked'";
                    }
                    else{
                        div_data+="";
                    }
                    div_data+="name='student_data[]' value='"+json_data[key]['id']+"'><label class='form-check-label'>"+json_data[key]['name']+"</label> ";


                     if(json_data[key]['status'])
                    {
                        div_data+="<b> [ Present ]</b>";
                    }
                    else{
                        div_data+="<b> [ Absent ]</b>";
                    }

                    div_data+="</div></div>";
                }
                div_data+="</div></div>";
                div_data+="<div class='form-group'>";
                div_data+="<button id='save_attendance' class='btn btn-success btn-block' type='button'>Save Attendance Data</button>";
                div_data+="</div>";

                $("#student_data").html(div_data);
                })
                .fail(function () {
                    alert("Error");
                })

            })

                $(document).on("click", "#save_attendance", function () {

                    $(this).attr('disabled', 'disabled')
                    $(this).text('Saving attendance data...')
                    var student_data = $("input[name='student_data[]']").map(function () {
                        if($(this).is(':checked')){
                            return {"id":$(this).val(), 'status':1};
                        }
                        else {
                            return {"id":$(this).val(), 'status':0};
                        }
                    }).get()

                    var attendance_date = $('#attendance_date').val();
                    student_data = JSON.stringify(student_data)


                        $.ajax({
                        url: {% url 'save_update_attendance_data' %},
                        type: 'POST',
                        data: {student_ids: student_data, attendance_date:attendance_date},
                        })

                        .done(function (response) {
                            if(response=='OK'){
                                alert('attendance save')
                            }
                            else {
                                alert('error saving attendance..')
                            }
                            location.reload()

                         })
                         .fail(function () {
                            alert("Error in saving student");
                         })
                })
        })


    </script>
{% endblock custom_js %}


